@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yesteryear&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap");
* {
  box-sizing: border-box; }

body {
  max-width: 1600px;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.header-container {
  background-color: #f1f1f1; }

.page-header-container {
  height: 96px; }

.page-header-container-block {
  position: fixed;
  z-index: 10;
  width: 100%;
  left: 0;
  top: 0; }

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 19px 40px;
  top: 0;
  left: 0;
  z-index: 10; }

.header-bg {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #f1f1f1 !important;
  opacity: 0.8; }

.left-wrap .logo-title-block {
  display: flex; }
  .left-wrap .logo-title-block img {
    width: 58px; }
  .left-wrap .logo-title-block .logo-name {
    font-family: "Roboto";
    font-size: 24px;
    color: #000;
    display: flex;
    align-items: center;
    margin-left: 12px; }

.right-wrap .nav-items {
  list-style-type: none;
  display: flex; }
  .right-wrap .nav-items .nav-link {
    margin: 0px 16px;
    cursor: pointer; }
    .right-wrap .nav-items .nav-link a {
      font-family: "Roboto";
      font-size: 20px;
      color: #000;
      text-transform: uppercase;
      text-decoration: none; }
      .right-wrap .nav-items .nav-link a::after {
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background: #ff5e00;
        transition: width 0.3s; }
      .right-wrap .nav-items .nav-link a:hover::after {
        width: 100%;
        transition: width 0.3s; }

.main {
  width: 100%;
  margin: 0 auto; }
  .main .my-name-block {
    margin: 0 auto;
    margin-top: 20px; }
    .main .my-name-block .text {
      font-family: "Yesteryear", cursive;
      font-size: 192px;
      letter-spacing: 1px;
      color: #e5e5e5ff;
      text-align: center; }
  .main .image-content-container {
    display: flex;
    margin: 0px 150px;
    max-width: 100%;
    position: relative; }
    .main .image-content-container .about-one-line-text {
      font-family: "Zilla Slab";
      font-size: 48px;
      text-align: center;
      color: #000;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 60%; }
    .main .image-content-container .person-image-block {
      position: relative;
      width: 40%; }
      .main .image-content-container .person-image-block img {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 300px; }
  .main .contact-me-button {
    text-transform: uppercase;
    background-color: #ffe503ff;
    color: #151515ff;
    font-size: 18px;
    font-weight: 900;
    font-family: "Zilla Slab";
    border-radius: 5px;
    padding: 13px;
    margin: 20px;
    display: flex;
    justify-content: center;
    max-width: 185px;
    cursor: pointer; }
  .main .nav-icons {
    display: flex;
    margin: 20px; }
    .main .nav-icons a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: #bebebeff;
      margin: 0px 7px; }
      .main .nav-icons a img {
        width: 20px; }

.about-me-container {
  display: flex;
  margin: 70px 100px; }
  .about-me-container .laptop-image-block {
    max-width: 44%; }
    .about-me-container .laptop-image-block img {
      width: 100%; }
  .about-me-container .few-lines-aboutme-content-block {
    padding: 30px 0px 0px 100px;
    max-width: 56%; }
    .about-me-container .few-lines-aboutme-content-block .heading-text {
      font-size: 48px;
      font-family: "Zilla Slab";
      font-weight: 300;
      text-transform: capitalize; }
    .about-me-container .few-lines-aboutme-content-block .name-text {
      font-family: "Work Sans";
      font-size: 22px;
      line-height: 1.4;
      padding: 25px 0px; }
    .about-me-container .few-lines-aboutme-content-block .content-text {
      font-size: 18px;
      font-family: "Zilla Slab";
      font-weight: 300;
      line-height: 1.4;
      padding-right: 65px; }

.about-career-container {
  padding: 80px 130px;
  display: flex;
  justify-content: space-around;
  background-color: #000;
  color: #fff; }
  .about-career-container .each-block {
    width: 33%;
    margin-right: 105px; }
    .about-career-container .each-block:last-child {
      margin-right: 0px; }
  .about-career-container .heading {
    font-size: 26px;
    font-family: "Zilla Slab";
    font-weight: 300;
    padding-bottom: 45px;
    word-spacing: 1px; }
  .about-career-container .content {
    font-size: 18px;
    font-family: "Work Sans";
    font-weight: 300;
    word-spacing: 1px;
    line-height: 1.4; }
  .about-career-container .full-cv {
    font-size: 18px;
    font-family: "Zilla Slab";
    font-weight: 700;
    text-transform: uppercase;
    background: #ff5e00;
    padding: 18px 22px;
    border-radius: 5px;
    margin-top: 40px;
    max-width: 200px;
    color: #000; }
  .about-career-container .skill-name {
    font-family: "Work Sans";
    font-size: 18px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px; }
  .about-career-container .skill-progress {
    padding-bottom: 15px; }
  .about-career-container .progress-bar {
    width: 100%;
    height: 6px;
    background-color: #fff;
    border-radius: 10px;
    position: relative; }
    .about-career-container .progress-bar::before {
      content: "";
      height: 4px;
      display: flex;
      align-items: center;
      position: absolute;
      width: 75%;
      left: 2px;
      top: 1px;
      background-color: #ff5e00; }
  .about-career-container .css .progress-bar::before {
    width: 55% !important; }
  .about-career-container .javascript .progress-bar::before {
    width: 35% !important; }
  .about-career-container .data-struc .progress-bar::before {
    width: 60% !important; }
  .about-career-container .algo .progress-bar::before {
    width: 50% !important; }
  .about-career-container .c-lang .progress-bar::before {
    width: 80% !important; }

.scroll-to-top-btn {
  position: relative; }
  .scroll-to-top-btn .scroll-to-top-btn-img {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 45px;
    background-color: whitesmoke;
    border-radius: 50%;
    padding: 10px;
    transition: opacity 0.15s linear 0s, visibility 0s ease 0s;
    box-shadow: black 0px 0px 4px;
    cursor: pointer; }

.contact-container {
  display: flex;
  justify-content: space-between;
  margin: 120px 130px; }
  .contact-container .form-block {
    width: 62%; }
    .contact-container .form-block .heading {
      font-size: 48px;
      font-family: "Zilla Slab";
      font-weight: 300;
      padding-bottom: 60px; }
    .contact-container .form-block form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .contact-container .form-block form input[type=text],
      .contact-container .form-block form input[type=number],
      .contact-container .form-block form input[type=email],
      .contact-container .form-block form textarea {
        padding: 0px 17px;
        margin-bottom: 26px;
        background-color: #f1f1f1ff;
        border: none;
        border-radius: 3px;
        box-shadow: none;
        width: 48%;
        height: 60px;
        font-size: 18px;
        font-family: "Work Sans";
        font-weight: 400; }
      .contact-container .form-block form textarea {
        width: 100% !important;
        height: 150px !important;
        padding-top: 17px; }
      .contact-container .form-block form .send-btn {
        font-size: 18px;
        font-family: "Zilla Slab";
        font-weight: 700;
        color: #000;
        background-color: #ff5e00;
        padding: 17px 55px;
        border-radius: 5px;
        letter-spacing: 2px;
        cursor: pointer; }
  .contact-container .address-detail-block {
    width: 25%;
    padding-left: 20px;
    padding-top: 20px; }
    .contact-container .address-detail-block .address-block {
      margin-bottom: 50px; }
    .contact-container .address-detail-block .address-heading {
      font-size: 24px;
      font-family: "Zilla Slab";
      font-weight: 300;
      color: #151515FF;
      padding-bottom: 20px; }
    .contact-container .address-detail-block .text {
      font-size: 18px;
      font-family: "Zilla Slab";
      font-weight: 300;
      color: #15151599;
      padding-right: 58px; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }
